/* body {
    background-image: url('bleach.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    
  } */
  
img{
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
  body{
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%); 
    padding: 0;
    margin: 0;
    
  }

html{
  scroll-behavior: smooth;
}
a{
  text-decoration: none !important;
  color: #ffffffb8 !important;
}

.forma{
max-width: 300px;
border: solid;
padding: 5px;
background-color: rgb(232, 226, 226);
margin-bottom: 25px;
}

header {
    background-color: #ebebeb57;
    padding: 10px;
}

.megaref{
  display: flex;
  margin-bottom: 25px;
}
.tablica{
  margin-bottom: 25px;
}
.ref li{
  list-style-type: none;

}
.ref a{
  text-decoration: none;
color: #ffffffb8;
}
.ref a:hover{
  background-color: #00000043;
}

.logo{
    display: flex;
}

.nav{
display: flex;
align-items: center;
justify-content: space-between;
}

.nav-bar{
    display: inline;
}

.navi{
    border-radius: 50%;
    width: 80px;
    height: 70px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #f9f5f5;
}

nav a:hover {
    background-color: #17141433;
}


.footer {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
 }
 
 .footer-content h3 {
    font-size: 24px;
 }
 
 .footer-content p {
    font-size: 14px;
    margin-bottom: 10px;
 }
 
 .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
 }
 
 .footer-links ul li {
    display: inline-block;
    margin-right: 10px;
 }
 
 .footer-links ul li a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
 }
 
 .footer-links ul li a:hover {
    color: #ff0000;
 }

 table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: center;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: #ddd;
}
/*//////////////////*/
table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #4CAF50;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(odd) {
    background-color: #ddd;
  }
  /* ////////////////////////////// */
  .abc {
    display: flex;
    flex-direction: column;
}
  @media (min-device-width: 0px) and (max-device-width: 700px) {
.nav{
  display: block;
}
.nav li{
  float: none;
}

.tablica{
  order: -1;
    margin-bottom: 25px;
}

  }
